div#contact {
  width: 80vw;
  max-width: 440px;
  height: 20vw;
  max-height: 110px;


  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  .logo {
    display: inline-block;
    width: 19vw;
    max-width: 100px;
    height: 19vw;
    max-height: 100px;
  }

  a {
   height: 0;
   width: 0;
  }
}
