@charset "utf-8";

@import 'bootstrap';
@import 'code';
@import 'contact';

//Common CSS

body {
  margin: 0, auto;
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif; 
  .title {
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    h1#title {
      letterspacing: 4px;
      text-transform: uppercase;
    }
    h5#subtitle {
      font-style: italic;
    }
  }
}


//Small screens
@media screen and (min-width: 320px) and (max-width: 480px) {
  .content {
    $horizontal-padding: 30px !global;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}

//Large screens
@media screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    $horizontal-padding: 60px !global;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}

//Wide Screens
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content {
    $horizontal-padding: 160px !global;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}

//Super Wide Screens
@media screen and (min-width: 1025px) {
  .content {
    $horizontal-padding: 200px !global;
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
  }
}
