= navbar fixed: :top do
  = navbar_header brand: 'Jacob Bass', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_item "Home", '/'
      = navbar_item "About me", '/about'
      = navbar_item 'Contact me', '/contact'
      = navbar_item 'Blog', '/blog'
      = navbar_item 'Resume', '/resume'
