!!! 5

%html.no-js.sticky
  %meta{ :charset => 'utf-8' }/
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/
  %meta{ :name => 'description', :content => '' }/
  %meta{ :name => 'viewport', :content => 'width=device-width' }/
  %meta{ :name => 'description', :content => "A personal site for Jacob Bass, software engineer and Ruby on Rails enthusiast" }/
  %title= 'Jacob Bass'
  = stylesheet_link_tag 'all'
  = javascript_include_tag 'all'
  = favicon_tag 'images/favicon.ico'

  %body
    %div.header
      = partial "layouts/main_header"

    %div.title
      %h1#title
        = current_page.data.title || nil
      %h5#subtitle
        = current_page.data.subtitle || nil
    %div.content
      ~ yield

    %div#footer
      = partial "layouts/footer"
