---
title: Contact Me
subtitle: I'd like to hear from you.
---

%div#contact
  = link_to 'mailto:jacob@jacobbass.net' do
    = image_tag 'email.png', :class => 'logo'
  = link_to 'http://linkedin.com/in/bassjacob' do
    = image_tag 'linkedin.png', :class => 'logo'
  = link_to 'http://github.com/subshad' do
    = image_tag 'github.png', :class => 'logo'
  = link_to 'http://twitter.com/bassjacob' do
    = image_tag 'twitter.png', :class => 'logo'

