---
pageable: true
per_page: 10
title: Blog
change_frequency: hourly
priority: 1.0
---

<div id="blog-filter">
  <div id="blog-filter-heading">
    <h2>Filter blogs <small><a href="#" onclick="toggleBlogFilter()" id="blog-filter-toggle-link">Show()</a></small></h2>
  </div>
  <div id="blog-tag-filter">
    <h3>Tags</h3>
    <ol>
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ol>
  </div>
</div>

<div id="blog-articles">
  <% page_articles.each_with_index do |article, i| %>
    <hr style="width: 75%; margin-left: 12.5%;"></hr>
    <h4><%= link_to article.title || "Untitled", article %> <small><span style="float: right"><%= article.date.strftime('%b %e') %></span></small></h4>
    <%= article.summary(250) %>
  <% end %>

  <hr style="width: 75%; margin-left: 12.5%;"></hr>
  <div class="pagination">
    <% if paginate %>
      <% if prev_page %>
        <%= link_to 'Previous page', prev_page %>
      <% end %>
      Page <%= page_number %> of <%= num_pages %>
      <% if next_page %>
        <%= link_to 'Next page', next_page %>
      <% end %>
    <% end %>
  </div>
</div>
