---
title: "Articles tagged with: "
pageable: true
per_page: 10
---

<div id="blog-articles">
  <% page_articles.each_with_index do |article, i| %>
    <hr style="width: 75%; margin-left: 12.5%;"></hr>
    <h4><%= link_to article.title || "Untitled", article %> <small><span style="float: right"><%= article.date.strftime('%b %e') %></span></small></h4>
    <%= article.summary(250) %>
  <% end %>

  <hr style="width: 75%; margin-left: 12.5%;"></hr>
  <div class="pagination">
    <% if paginate %>
      <% if prev_page %>
        <%= link_to 'Previous page', prev_page %>
      <% end %>
      Page <%= page_number %> of <%= num_pages %>
      <% if next_page %>
        <%= link_to 'Next page', next_page %>
      <% end %>
    <% end %>
  </div>
</div>
