---
title: Jacob Bass
subtitle: "Download in: .docx | .pdf"
---

<div class="section">
  <h2>Experience</h2>

  <div class="sub-section">
    <h3>Team Leader: Development <small>2014 - Present</small></h3>
    <ul>
      <li>Worked with Ruby on Rails, PostgreSQL and the AWS/EC2 stack.</li>
      <li>Developed and optimised production features.</li>
      <li>Managed the output of a team of 5 developers.</li>
      <li>Reported directly to the CTO of the company.</li>
      <li>Assessed task priorities and assigned work.</li>
    </ul>
  </div>

  <div class="sub-section">
    <h3>Team Leader: Data Acquisition, Approsport <small>2014 - 2014</small></h3>
    <ul>
      <li>Automated data validation during acquisition, reducing manual errors.</li>
      <li>Improved efficiency of data acquisition process.</li>
      <li>Improved rate of capture and rate to market from 2 units to approximately 20 units per cycle.</li>
      <li>Managed 7 Data Analysts through their acquisition and processing tasks.</li>
      <li>Created and documented SOPs followed by the analysts.</li>
    </ul>
  </div>

  <div class="sub-section">
    <h3>Senior Volunteer, NSW Jewish Board of Deputies <small>2008 - 2013</small></h3>
    <ul>
      <li>Managed team of 10 volunteers.</li>
      <li>Provided instruction, training and performance evaluations.</li>
      <li>Organised and delivered presentations and training exercises.</li>
      <li>Participated in several leadership development courses.</li>
      <li>Oversaw and organised elements of events and functions.</li>
    </ul>
  </div>

  <div class="sub-section">
    <h3>Summer Intern, Cisco Systems <small>2012 - 2012</small></h3>
    <ul>
      <li>Engineered testbeds for network research and client demonstration.</li>
      <li>Created research briefs on emerging technologies for senior management.</li>
      <li>Liased with clients to deliver key products.</li>
      <li>Acted as principal support contact for clients, troubleshooting and fixing key infrastructure.</li>
    </ul>
  </div>

  <div class="sub-section">
    <h3>Security Officer, Westfield Corporate Security <small>2010 - 2014</small></h3>
    <ul>
      <li>Operated access control in a variety of settings.</li>
      <li>Ensured workplace health and safety compliance.</li>
      <li>Provided first aid and tactical response.</li>
      <li>Worked within a larger team or unsupervised.</li>
    </ul>
  </div>
</div>

<div class="section">
  <h2>Skills</h2>
  <div class="sub-section">
    <h3>Languages</h3>
    Ruby, Python, SQL, Procedural SQL, Java, C/C++, HTML, Javascript.
  </div>
  <div class="sub-section">
    <h3>Frameworks</h3>
    Ruby on Rails, Middleman, SASS.
  </div>
  <div class="sub-section">
    <h3>Software</h3>
    VIM, ZSH, GIT, BASH, PostgreSQL, Intellij IDE.
  </div>
  <div class="sub-section">
    <h3>Operating Systems</h3>
    GNU/Linux Windows, OSX.
  </div>
</div>

<div class="section">
  <h2>Education</h2>
  <div class="sub-section">
    <h3>Bachelor of Engineering (Hons.)</h3>
    <ul>
      <li><b>Major</b>: Electrical Engineering.</li>
      <li><b>Date of Completion</b>: November, 2013.</li>
      <li><b>University</b>: University of New South Wales.</li>
      <li><b>Thesis Topic</b>: Software-Defined Networking, Platform and Use Cases.</li>
    </ul>
  </div>
</div>

<div class="section">
  <h2>Publications</h2>
  <div class="sub-section">
    H. Habibi, J. Bass, L. Exton, V. Sivaraman, "Personalizing the Home Network Experience using Cloud-Based SDN",
    <span style="font-style: italic">SDN Architecture and Applications, Workshop</span>, June, 2014.
  </div>
</div>

<div class="section">
  <h2>Other Information</h2>

  <div class="sub-section">
    <ul>
      <li>Jacob is an Australian citizen with an affinity for electronics and computing.</li>
      <li>Jacob's interests include fitness and health, reading, history, music and technology.</li>
    </ul>
  </div>
</div>

<div class="section">
  <h2>Referees</h2>

  <div class="sub-section">
    Available upon request.
  </div>
</div>
